{% include "belleville/header.html" %}

<center>
<div id="container">
  <div id="content">

<div class="entry_box">
  <h3>Barbara Shaurette</h3>
  <table>
  <tr><td>Location</td><td>Austin, Texas</td></tr>
  <tr><td>Email</td><td>barbara.shaurette@gmail.com</td></tr>
  <tr><td>Website</td><td><a href="http://www.mechanicalgirl.com/">http://www.mechanicalgirl.com/</a></td></tr>
  <tr><td>LinkedIn</td><td><a href="http://www.linkedin.com/in/barbarashaurette/">http://www.linkedin.com/in/barbarashaurette/</a></td></tr>
  <tr><td>Other</td><td><a href="https://people.djangoproject.com/bshaurette/">https://people.djangoproject.com/bshaurette/</a></td></tr>
  </table><br />

  <h3>What I'm interested in:</h3>
  <p>
    A position that incorporates application development, database development, and scripting in a Python-focused environment. I'm looking for the opportunity to do work that makes the world better in some measurable way.
  </p>

  <p></p>

  <h3>What I'm best at:</h3>
  <p>
	<ul>
	<li>Python/Django</li>
	<li>Databases: PostgreSQL, MySQL, some experience with CouchDB and MongoDB</li>
	<li>Linux/Unix, OS X</li>
	<li>Version control: git, svn, mercurial</li>
	<li>Writing documentation, including requirements and specifications</li>
	<li>Analysis and troubleshooting</li>
	<li>Learning new languages and tools</li>
	</ul>
  </p>

  <p></p>

  <h3>Why I'm good at it:</h3>

  <span class="sub-indent">Active side projects:</span><br>
  <span class="sub-sub-indent"><a href="http://www.mechanicalgirl.com/">http://www.mechanicalgirl.com/</a> (Python/Django)</span><br>

  <p></p>

  <span class="sub-indent">Github projects and code samples:</span><br>
  <span class="sub-sub-indent"><a href="http://github.com/mechanicalgirl">http://github.com/mechanicalgirl</a></span><br>
  <span class="sub-sub-indent"><a href="http://resume.github.com/?mechanicalgirl">http://resume.github.com/?mechanicalgirl</a></span><br>
  <span class="sub-sub-indent"><a href="https://gitlab.com/u/mechanicalgirl">https://gitlab.com/u/mechanicalgirl</a></span></br>

  <p></p>

  <span class="sub-indent">Conferences and Training:</span><br>
  <span class="sub-sub-indent">DjangoCon 2008-2015</span><br>
  <span class="sub-sub-indent">PyCon 2009-2015</span><br>
  <span class="sub-sub-indent">Mentor - PDX Python Workshop for Women</span><br>
  <span class="sub-sub-indent">Teacher - Austin 'Intro to Python' workshops</span><br>
  <span class="sub-sub-indent">Teacher - 'Young Coders' tutorials (PyCon 2013-present)</span><br>
  <span class="sub-sub-indent">DjangoGirls Austin - organizer and coach (2015)</span><br>

  <p></p>

  <span class="sub-indent">Conference Talks:</span><br>
  <span class="sub-sub-indent">DjangoCon 2015 - <a href="http://mechanicalgirl.com/post/coming-back-burnout-video/">Coming Back From Burnout</a></span><br>
  <span class="sub-sub-indent">PyCon 2014 - <a href="http://pyvideo.org/video/2570/the-young-coder-lets-learn-python">The Young Coder: Let's Learn Python</a></span><br>

  <p></p>

  <span class="sub-indent">Organizations</span><br>
  <span class="sub-sub-indent"><b>Python Software Foundation</b> (April 2013 to Present)</span><br>
  <span class="sub-sub-indent"><span class="sub-sub-indent">Member</span></span><br>
  <span class="sub-sub-indent"><b>Computer Science Teachers Association</b> (September 2012 to Present)</span><br>
  <span class="sub-sub-indent"><span class="sub-sub-indent">Industry advocate, helping to mentor students and develop primary/high school CS curriculum</span></span><br>
  <span class="sub-sub-indent"><b>PyLadies</b> (September 2012 to Present)</span><br>
  <span class="sub-sub-indent"><span class="sub-sub-indent">Organizer/Founder, Austin chapter</span></span><br>
  <span class="sub-sub-indent"><b>DjangoGirls</b> (2015 to Present)</span><br>
  <span class="sub-sub-indent"><span class="sub-sub-indent">Organizer/Coach, Austin</span></span><br>

  <p></p>

<h3>Employment History</h3>
<table>
<tr>
<td>Dates</td>
<td>Company</td>
<td>Description</td>
</tr>

<tr>
<td>5/2013 - present</td>
<td>Cox Media Group</td>
<td><b>Software Engineer</b>: Maintain and develop new features for comprehensive Python/Django codebase that supports over 100 news/tv/radio properties with content management, data management features, and front-end features; maintain and develop API and search indexing software; build and support data retrieval solutions</td>
</tr>

<tr>
<td>10/2012 - 04/2013</td>
<td>Texas Tribune</td>
<td><b>Software Engineer</b>: Python/Django and PostgreSQL/MySQL work on data applications that illustrate the workings of such institutions as the Texas state legislature and prison system for TexasTribune.org.</td>
</tr>

<tr>
<td>11/2008 - 09/2012</td>
<td>Live Nation Merchandise</td>
<td><b>Senior Software Engineer</b>: PHP, Python, Django and MySQL work on high-profile, high-traffic sites for artists such as U2, KISS, and Madonna (including CMS, media processing, reporting tools); API development; database design and management; dev/ops (release management, internal environment administration)</td>
</tr>
<tr>
<td>11/2007 - 11/2008</td>
<td>Tippit, Inc.</td>
<td><b>Senior Software Engineer</b>: Development work on ETL, internal CRM and business intelligence tools, and restructuring of the data warehouse - this work involved Python, Django, PHP, mySQL and other related technologies</td>
<tr>
<td>07/2007 - 11/2007</td>
<td>Live Nation Merchandise</td>
<td><b>Senior Software Engineer</b>: Rewrite of the ecommerce site (in XCode/WebObjects), and development/maintenance of artist web sites - this work involved PHP, MySQL, and a significant amount of shell scripting</td>
</tr>
<tr>
<td>03/2007 - 06/2007</td>
<td>Live Nation Entertainment</td>
<td><b>Senior Applications Developer</b>: Development and support on the event search site, Zend Framework upgrade for internationalization and cacheing - this work involved PHP and MySQL, XML/XSLT, and some C++</td>
</tr>
<tr>
<td>03/2004 - 03/2007</td>
<td>Adteractive, Inc.</td>
<td>
<p><b>Senior Applications Developer</b>: Platform engineering/data warehousing, ETL, development on our PHP framework, APIs for Java validation service, coordinating the release of new PHP applications</p>
<p><b>Team Lead/Application Development</b>: Managed developer teams through build/launch/maintenance cycles</p>
<p><b>Application Developer</b>: Writing data models to evaluate and transfer transaction data - most of this work was in Perl and MySQL</p>
</td>
</tr>
<tr>
<td>07/2003 - 03/2004</td>
<td>Self-employed</td>
<td>General web development work, contract web design/development for local clients, primarily using HTML, JavaScript and CSS</td>
</tr>
<tr>
<td>07/1999 - 07/2003</td>
<td>Vivendi/Universal Inc.</td>
<td>
<p><b>Game Producer/Developer</b>: Writing original game engines for online casual and casino games, primarily in Flash/ActionScript, with some Java work.  Developed and supported a network of gaming web sites.</p>
<p><b>Web Developer</b>: Development and support of Berkeley Systems and Sierra Online gaming sites.  Most of this was front-end work - HTML/CSS and JavaScript (with some ColdFusion).</p>
</td>
<tr>
</table>

<p></p>

<h3>References and Recommendations</h3>
<p>References are available upon request.  A number of professional recommendations can also be found on my LinkedIn profile: <a href="http://www.linkedin.com/in/barbarashaurette">http://www.linkedin.com/in/barbarashaurette</a></p>

</div>

<p>Last updated: September 21, 2015</p>

</div>
</div>
</center>

{% include "belleville/footer.html" %}
